<div class="main-outer">
  <div class="inner">
    <h2 class="header-text">Login</h2>
    <hr>
    <form class="security-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>password</mat-label>
        <input formControlName="password"  type="password" matInput>
      </mat-form-field>
      <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Login</button>
      <p style="text-align: center; margin-top: 10px">OR</p>
      <button type="button" mat-raised-button color="warn" routerLink="/security/signup">Signup</button>
    </form>
  </div>
</div>
