  <div class="data-wrapper">
    <div class="img-wrapper">
      <div class="shadow"></div>
      <img
        src="https://img.freepik.com/free-vector/juice-ad-with-gradients-lettering_52683-30650.jpg?w=740&t=st=1672328378~exp=1672328978~hmac=4174c34c5c72efc154f4342a87502aa773b76827e45777dd44509dcfa4fb8402"
        alt="" product-image>
    </div>
    <div class="data-set">
      <h3 class="name">Product Name</h3>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, sint?
      </p>
      <p class="cost-outer">
        <span class="actual-price">2500</span>&nbsp;&nbsp;
        <del class="old-price">3000</del>
      </p>
    </div>
</div>
