
<h2 class="head">Product Management</h2>

<div class="btn-outer">
  <button class="product-button" routerLinkActive="active" routerLink="/console/playground/product/new">+ New Product</button>
  <button class="product-button" routerLinkActive="active" routerLink="/console/playground/product/find">Find Product</button>
  <button class="product-button" routerLinkActive="active" routerLink="/console/playground/product/update">Update Product</button>
  <button class="product-button" routerLinkActive="active" routerLink="/console/playground/product/delete">Delete Product</button>
  <button class="product-button" routerLinkActive="active" routerLink="/console/playground/product/list">Find All Products</button>
</div>

<router-outlet></router-outlet>
