.main-outer{
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  padding: 0 13px;
  display: flex;
  align-items: center;
}
.logo-name{
  color: white;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}
